@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

.container9 { 
  height: 100%;
  width: 100%;
}

.card {

  background: transparent;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(103, 102, 102);
  border-radius: 0.5rem;

  width: 40rem;
  height: 20rem;
 display: flex;
 flex-direction: row;
}


.col {

  padding: 5px;

}


.spinner {
  color: white;
  width: 75px;
  height: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;

}

.a:hover {
  background-color:  rgb(251, 129, 129);
  color: white;

}