@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

.card {

  background: transparent;
  border-style: solid;
  border-color: rgb(103, 102, 102);

}


.col {

  padding: 5px;

}


.spinner {
  color: white;
  width: 75px;
  height: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;

}

.gigbtn {
  background-color:  rgba(255,144,144,1);
  color: white;
  border: 0px;
}

.gigbtn:hover {
  background-color:  rgb(251, 129, 129);
  text-align: center;
  color: white;
  border: 0px;
}