@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Alternates:wght@300&family=Roboto+Condensed:wght@300&display=swap');


* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}


.button {
    font-size: 1rem; 
    font-weight: 500; 
    border: 0 ;
    border-radius: 0; 
    background: #ff3366; 
    padding: 10px 30px;
    color: White;
    grid-column: span 2;
  }


