@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.cdnfonts.com/css/gilroy-bold?styles=20879');

.artist {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  }


  h4 {
    font-family: 'Gilroy-Bold', sans-serif;

  }

  
  h6 {
    font-family: 'Gilroy-Light', sans-serif;
    padding: 1em;

  }
  
  .img {
    border-radius: 50%;
    object-fit: cover;
    width: 40%;
   }

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions {
display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: center;
    }

.actions a {

  font-size: 2vh;
  text-align: center;
  background-color:  rgba(255,144,144,1);
  color: white;
  border: 0px;
  padding: 5px 5px;
  border-radius: 90px;
  text-decoration: none;
}


a:hover{
  background-color:  rgb(251, 129, 129);
  color: white;
}
/* 
@media (max-width: 768px) {
  .artist {
    width: 70%; 
   
  }
} */