* {
  box-sizing: border-box;
}
body {
  background: rgb(142,113,142);
  background: linear-gradient(16deg, rgba(142,113,142,1) 0%, rgba(255,144,144,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'GT Walsheim Medium', sans-serif;


} 

.container1 {
  height:34em;
  margin-top: 2%;
  margin-bottom: 2%;
  /* background: teal; */

}

